@font-face {
  font-family: "Paytone";
  src: url("PaytoneOne-Regular.ttf");
}

:root {
  /*--percent: 50%;*/
  --percent: calc(100% * calc(11/12) );
}

body{
  background: #111;
  margin: 0 !important;
  color: #222;
  font-family: Paytone;
}

.main{
	width: 100%;
	max-width: 1000px;
	margin: 0 auto 0;
	text-align: center;
	overflow: auto;
	border-radius: 10px;
	z-index: 98;
	background: #fff;
}

.header{
	width: 100%;
	float: left;
	font-size: 40px;
	line-height: 50px;
	padding-bottom: 20px;
	background: #118dff;
	color: #fff;
}

.main .animes{
	width: 100%;
	float: left;
	text-align: left;
	margin: 10px 0 0 ;
	position: relative;
}

.main .anime{
	width: 49%;
	float: left;
	text-align: left;
	padding: 10px 0;
	margin: 0 .5%;
	color: #222;
	border-bottom: 1px dotted #222;
}

.main  .img{
	float: left;
	width: 11%;
	min-height: 55px;
	margin: 0 1% 0 0;
}

.main .img img{
	width: 100%;
	float: left;
}

.main .nome, .main .progress{
	float: right;
	width: 88%;
}

.main .progress p{
	float: left;
	font-size: 14px;
	line-height: 30px;
	margin: 0 0px 0 0;
	min-width: 26px;
	text-align: center;
}

.main .progress .ep{
	font-size: 20px;
}

.main .progress .subep, .main .progress .sumep,.main .progress .subeps, .main .progress .sumeps{
	cursor: pointer;
	width: 18px !important;
	min-width: 18px !important;
	font-size: 10px !important;
	opacity: .5;
}

.main .progress .subep:hover, .main .progress .sumep:hover,.main .progress .subeps:hover, .main .progress .sumeps:hover{
	opacity: 1;
}

.main .bar{
	float: left;
	height: 14px;
	max-width: 88%;
	margin: 10px 0;
	background: linear-gradient(to right, #0f0 var(--percent), #f00 var(--percent) );
	border-radius: 7px;
}

@media (max-width: 740px) {

	.main{
		max-width: 740px;
	}

	.main .anime{
		width: 100%;
		margin: 0 !important;
	}
}